.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/hot
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/tmp/*
tests
.phpunit.result.cache
*.md
.editorconfig
.gitattributes
docker-compose*.yml
